.main-wrapper {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer{
  height: 15px;
}

.full-width {
  width: 100%;
}

.search-add-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  width: 82%;
}

.new-password {
  width: 12%;
}

.search-input-styles {
  font-size: 12px;
  padding: 5px;
}

.search-icon {
  width: 80%;
  height: auto;
  font-size: 20px;
}

.input-filed-sec{
  width: 90%;
}

.credentials-list{
  padding: 0 2%;
  max-height: calc(77vh);
  overflow-x: hidden;
  overflow-y: auto;
}

// Normalizing margin top and bottom of mat-input-fields
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}
