.main-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-icon{
  margin-top: 5px;
  margin-left: 5px;
  // width: auto;
  height: 35px;
  font-size: 20px;
}

.top-bar-logo{
  // background-color: lightcoral;
  // padding: 5px;
}
