<div class="main-wrapper">
  <form [formGroup]="newCredForm">
    <!-- HEAD -->
    <div class="title">
      <div>
        <mat-icon svgIcon="keys"></mat-icon>
      </div>
      <div>
        <mat-label class="low-priority-text"> Create New</mat-label>
      </div>
    </div>
    <!-- HEAD END -->

    <div class="spacer"></div>

    <!-- Name  -->
    <div>
      <mat-form-field appearance="outline" class="search-input-styles full-width">
        <input matInput placeholder="Name (will used for searching)" formControlName="name">
        <mat-icon matSuffix svgIcon="name"></mat-icon>
      </mat-form-field>
    </div>
    <!-- Name END -->

    <!-- USERNAME  -->
    <div>
      <mat-form-field appearance="outline" class="search-input-styles full-width">
        <input matInput placeholder="Username" formControlName="username">
        <mat-icon matSuffix svgIcon="user"></mat-icon>
      </mat-form-field>
    </div>
    <!-- USERNAME END -->

    <!-- PASSWORD -->
    <div>
      <mat-form-field appearance="outline" class="search-input-styles full-width">
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon svgIcon="hide" *ngIf="!hide"></mat-icon>
          <mat-icon svgIcon="show" *ngIf="hide"></mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- PASSWORD END -->

    <!-- ACTION -->
    <div class="action-section">
      <div class="color-handle">
        <div>
          <mat-label class="low-priority-text">Accent Color </mat-label>
        </div>
        <div>
          <div #colorPicker></div>
        </div>
      </div>
      <div class="button-sec">
        <button mat-raised-button color="warn" class="full-width" (click)="saveCredential()" [disabled]="!newCredForm.valid">Save</button>
      </div>
    </div>
    <!-- ACTION END -->
  </form>
</div>
