.main-wrapper{
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.low-priority-text{
  opacity: 0.7;
}

.letter-avatar{
  width: 20%;
}

.user-and-name{
  width: 70%;
}

.copied-icon{
  font-size: 15px;
  width: 15px;
  height: 10px;
  margin-bottom: 2px;
}

.copied-label{
  font-size: 12px;
}

.copy-cred{
  width: 10%;
}

.copy-icon{
  height: 20px;
  width: auto;
}

.avatar{
  color: rgb(39, 39, 39);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  // background-color: greenyellow;
  border-radius: 50%;
}
