<mat-card matRipple class="main-wrapper depth-1 mat-elevation-z2">
  <!-- Color Letter Avatar -->
  <div class="letter-avatar" (click)="onCopyUser()">
    <mat-card class="avatar" [ngStyle]="{'background-color': color}">
      <div class="low-priority-text">{{firstLetter}}</div>
    </mat-card>
  </div>
  <!-- Color Letter Avatar END -->

  <!-- Site NAME AND USERNAME -->
  <div class="user-and-name" (click)="onCopyUser()">
    <div>
      <mat-label>{{name}}</mat-label>
    </div>
    <div>
      <small>
        <mat-label class="low-priority-text">{{username.substr(0, 20)}} <span
            class="copied-label copied-color animated fadeIn fast" *ngIf="userCopied">
            <mat-label>
              <mat-icon class="copied-icon copied-color">check</mat-icon>Copied
            </mat-label>
          </span></mat-label>
      </small>
    </div>
  </div>
  <!-- Site NAME AND USERNAME END -->

  <!-- COPY ICON -->
  <div class="copy-cred">
    <button mat-icon-button (click)="onCopyPass()" *ngIf="!passCopy" class="animated rubberBand">
      <mat-icon svgIcon="copy" class="copy-icon"></mat-icon>
    </button>
    <mat-label class="animated fadeIn copied-color copied-label" *ngIf="passCopy" style="margin-right: 5px;">Copied </mat-label>
  </div>
  <!-- COPY ICON END -->
</mat-card>
